<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <title>Biodata</title>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center pt-5">
        <div class="col-md-6">
          <button
            type="submit"
            class="btn btn-primary"
            onclick="location.href='/biodata/add-biodata'"
          >
            Tambah Barang
          </button>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              <% data.forEach((bio) => { %>
              <tr>
                <td><%= bio.name %></td>
                <td><%= bio.description %></td>
                <form action="/biodata?_method=DELETE" method="POST">
                  <td>
                    <button type="submit" class="btn btn-danger badge">
                      Delete
                    </button>
                  </td>
                </form>
              </tr>
              <% })%>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
