<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <title>Biodata</title>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center pt-5">
        <div class="col-md-6">
          <button
            type="submit"
            class="btn btn-primary"
            onclick="location.href='/history/add-history'"
          >
            Tambah Rekor
          </button>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Win</th>
                <th scope="col">Lose</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              <% data.forEach((his) => { %>
              <tr>
                <td><%= his.win %></td>
                <td><%= his.lose %></td>
                <td>
                  <form action="/history/:id" method="DELETE">
                    <input type="hidden" name="id" value="<%= data.id %>" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
                </td>
              </tr>
              <% })%>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
